*{
    /* margin: 0; */
    /* padding:0; */
    /* box-sizing:border-box; */
}
h1{
    text-align: center;
    padding: 30px;
    font-size: 50px;
    border: 0.3px dotted grey;
    background-color: rgb(250, 249, 249);
    
}
h3{
    font-size: 25px;
}

body{
    background-color: rgb(207, 219, 219);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
p{
    text-align: left;
}
.img-section{
    background-color: white;
    margin: 30px 90px;
}
.img-group{
    width: 95%;
}
figure{
    padding-top: 20px;
    text-align: center;
}
.caption{
    padding: 20px;
    font-size: 20px;
}
a:link {
    text-decoration: none;
 }
 a:visited {
    color: blueviolet;
 }
 a:hover {
    color: orange;
    font-size: 150%;
    font-weight: bold;
    box-shadow: 0 0 5px 1px grey;
 }
 a:active {
    color: red;
    box-shadow: inset 0 0 15px red;
 }
/* .albums{
    max-width: 200px;
    margin: 50px auto;
} */
#studio-albums{
    text-align: left;
    
}
#compilation-albums{
    text-align: left;
}
.album-items{
    text-align: left;
}
/* .section3{
    display: flex;
    flex-direction: row;
} */